<!--
	This template loads for the 'tab.friend-detail' state (app.js)
	'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
	The FriendsCtrl pulls data from the Friends service (service.js)
	The Friends service returns an array of friend data
-->
<ion-view view-title="{{country.name}}">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider">
				<p>Country</p>
			</div>
			<div class="item item-text-wrap">
				{{ country.name }}
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<p>Capital</p>
			</div>
			<div class="item item-text-wrap">
				{{ country.capital }}
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<p>Currencies</p>
			</div>
			<div class="item item-text-wrap">
				{{ country.currencies }}
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<p>Region</p>
			</div>
			<div class="item item-text-wrap">
				{{ country.region }}
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<p>Population</p>
			</div>
			<div class="item item-text-wrap">
				{{ country.population | number }} personas
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<p>Languages</p>
			</div>
			<div class="item item-text-wrap">
				<ul>
					<li ng-repeat="language in country.languages">{{language}}</li>
				</ul>
			</div>
		</div>
	    <div class="card">
	      <div class="item item-divider">
	        Mapa
	      </div>
	      <div class="item item-text-wrap">
	        <div id="map"></div>
	      </div>
	    </div>
	</ion-content>
</ion-view>
