<ion-view view-title="Account">
  <ion-content class="padding">
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <buton ng-click="showAlert()" class="button button-block button-balanced">Disparar alerta</buton>
    <buton ng-click="showConfirm()" class="button button-block button-energized">Confirmar</buton>
    <buton ng-click="showCustomDialog()" class="button button-block button-royal">Alerta Personalizada</buton>
    </ion-list>
  </ion-content>
</ion-view>
