<ion-view view-title="Countries">
	<ion-content>
		<h1 class="text-center">{{ theMessage }}</h1>
		<ion-list>
			<label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" ng-model="search.name" placeholder="Search">
			  </label>
			<ion-item class="item" ng-click="showDetail(country)" ng-repeat="country in theCountries | filter: search " type="item-text-wrap">
				{{ country.name }}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
	