<ion-view view-title="Login">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider">
				Login con {{ credentialData.provider}}
			</div>
			<div class="item item-text-wrap"> 

				<a class="item item-avatar" href="#">
					<img ng-src="{{userData.photoURL}}">
					<h2>{{ userData.displayName }}</h2>
					<p>{{ userData.email }}</p>
					<p>
						<ion-label>Token: </ion-label>{{ credentialData }}</p>
				</a>

			</div>
			<div class="item item-divider">
				<button class="button button-block button-balanced" ng-click="loginWithGithub()">
					Github
				</button>
			</div>
		</div>
		<button class="button button-block button-assertive" ng-click="loginWithGithub()" >Login with github</button>
		<button class="button button-block" ng-click="loginFacebook()" >Login with facebook</button>
		<button class="button button-block" ng-click="loginTwitter()" >Login with twitter</button>
	</ion-content>
</ion-view>
